
## LLMs Choices
TRANSLATION_LLM="translategemma:12b" 
SUMMARIZE_LLM="llama3.1:8b"
VALIDATION_LLM = "llama3.1:8b"
FALLBACK_TRANSLATION_LLM="llama3.1:8b"



## Resources Configuration
REDIS_URL="redis://default:root@cluster.resources:6379/2"
DATABASE_URL="postgresql://app:root@cluster.resources:5432/translator"

## LLM's Cluster Configuration
FALLBACK_TRANSLATION_LLM_URL="http://cluster.resources:11434"
TRANSLATION_LLM_URL="http://cluster.resources:11434"
VALIDATION_LLM_URL = "http://cluster.resources:11434"
SUMMURIZE_LLM_URL="http://cluster.resources:11434"


## Content Oriented Configuration
SOURCE_LANGUAGE="English"
TARGET_LANGUAGE="Spanish"
INPUT_FOLDER="./content/en"
OUTPUT_FOLDER="./content/es"


## Server Configuration
HOST="0.0.0.0"
PORT=8000
DEPLOYMENT_MODE="development"
