
TRANSLATION_LLM="translategemma:12b" 
TRANSLATION_LLM_URL="http://llm.cluster:11434"

FALLBACK_TRANSLATION_LLM="llama3.1:8b"
FALLBACK_TRANSLATION_LLM_URL="http://llm.cluster:11434"

SUMMARIZE_LLM="llama3.1:8b"
SUMMURIZE_LLM_URL="http://llm.cluster:11434"

VALIDATION_LLM = "llama3.1:8b"
VALIDATION_LLM_URL = "http://llm.cluster:11434"

REDIS_URL="redis://default:default@resources.server:6379/2"
DATABASE_URL="postgresql://app:default@resources.server:5432/app"

HOST="0.0.0.0"
PORT=3000
DEPLOYMENT_MODE="development"



SOURCE_LANGUAGE="English"
TARGET_LANGUAGE="Arabic"

INPUT_FOLDER="./content/en"
OUTPUT_FOLDER="./content/ar"
